<h1>All Students</h1>
<%= render 'layouts/header' %>
<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Age</th>
      <th>Bio</th>
      <th>Title</th>
      <th>Company</th>
      <th>Favorite Ice Cream</th>
      <th>Gender</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= link_to student.full_name, student %></td>
        <td><%= student.age %></td>
        <td><%= truncate(student.bio, :length => 55) %></td>
        <!--could also use student.bio.to_s[0,55] but that would need to be duplicated throughout-->
        <td><%= student.title %></td>
        <td><%= student.company %></td>
        <td><%= student.favorite_ice_cream %></td>
        <td><%= student.gender %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
